body {
  font-size: 16px;
  background-color: rgb(229, 251, 255);
}

.app-header{
  margin-top: 2rem;
  text-align: center;
}

.app-title{
  font-weight: bold;
}

.quiz-area .quiz-container{
  display: block;
  /* border: 1px solid #fff; */
}
 
.quiz-area .option-container{
  margin: 10px 0;
  display: block;
  /* border: 2px solid #fff; */
}

.form-check{
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
  padding: 7px 10px 7px 30px;
  background-color: rgb(255, 244, 251);
}


.question-img{
  max-width: 400px;
  max-height: 400px;
  border: 1px solid black;
}

.btn{
  margin: auto;
  display: block;
}